<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="alta-movimiento">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      .alert-success {
        background: #98c807;
        border: 1px solid #04662a;
        border-radius: 3px;
        color: rgb(255, 248, 248);
        font-size: 14px;
        padding: 10px;
      }

      input {
        position: relative;
        box-shadow: 2%;
        margin: 1;
        padding: 1;
        width: 90%;
        max-width: 90%;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: center;
        vertical-align: bottom;
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
      a{
        text-decoration: none;
      }


    </style>


    <iron-ajax
          id="saveMovement"
          content-type="application/json"
          handle-as="text"
          method="put"
          on-response="handleSaveMovementResponse"
          on-error="handleUserError">
        </iron-ajax>

        <iron-ajax id="queryAccounts"
          content-type="application/json"
          handle-as="text"
          method="get"
          on-response="handleAccountResponse"
          on-error="handleUserError">
        </iron-ajax>

        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <app-location route="{{route}}"></app-location>

        <div class="cardmovs">
          <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
            <h1><center>Alta de Movimientos</h1></center>
            <template is="dom-if" if="[[error]]">
                <p class$="[[claseAlert]]"><strong>Error:</strong> [[error]]</p>
              </template>
              <template is="dom-if" if="[[success]]">
                  <p class$="[[claseAlert]]"><strong>Info:</strong> [[success]]</p>
              </template>
              <paper-input-container-underline>
                  <label slot="input">Referencia: </label>
                  <iron-input slot="input" bind-value="{{formData.referencia}}">
                    <input class="input-style" id="idMovimiento" type="text" value="{{formData.referencia}}" maxlength="8" minlength="1" required autofocus>
                  </iron-input>
                </paper-input-container-underline>
                <p></p>
              <paper-input-container-underline>
                <label slot="input">Fecha: </label>
                <iron-input slot="input" bind-value="{{formData.fecha}}">
                  <input class="input-style" id="fecha" type="date" value="{{formData.fecha}}">

                </iron-input>
              </paper-input-container-underline>
              <p></p>
              <paper-input-container-underline>
                <label slot="input">Importe: </label>
                <iron-input slot="input" bind-value="{{formData.importe}}">
                  <input class="input-style" id="importe" type="text" value="{{formData.importe}}">
                </iron-input>
              </paper-input-container-underline>
              <p></p>
              <paper-input-container-underline>
                <label slot="input">Tipo: </label>
                <iron-input slot="input" bind-value="{{formData.tipo}}">
                  <input class="input-style" id="tipo" type="text" value="{{formData.tipo}}" maxlength="8" minlength="1" required>
                </iron-input>
              </paper-input-container-underline>
              <p></p>
              <div class="wrapper-btns"><center>
                <paper-button raised class="primary" on-tap="queryAccounts">Alta Movimiento</paper-button>
              </div></center>
            <log-out stored-user="{{storedUser}}"></log-out>
          </div>
        </div>
      </template>

      <script>
          class AltaMovimiento extends Polymer.Element {
              static get is() { return 'alta-movimiento'; }
              static get properties() {
                  return {
                      formData: {
                          type: Object,
                          value: {}
                      },
                      storedUser: Object,
                      error: String,
                      success: String,
                      claseAlert: {
                        type: String,
                        computed: '_retornaClaseAlert(error, success)'
                      }
                  }
              }
              ready(){
                super.ready();
                this.formData = {};
                this.error = '';
              }
              _retornaClaseAlert(error, success){
                if(error){
                  return 'alert-error';
                }else if(success){
                  return 'alert-success';
                }
              }
              _setReqBodyMovement() {
                  this.$.saveMovement.body = this.formData;
              }

              saveMovement() {
                var id = this.formData.referencia;
                if(!id){
                  return this.error = "La Referencia es Obligatoria";
                }

                this.$.saveMovement.url = 'http://127.0.0.1:3000/api/1/movimientos/'+this.storedUser.id_token+ '&'+this.storedUser.access_cta;
                this._setReqBodyMovement();
                this.$.saveMovement.generateRequest();
                this.formData = {};
              }

              queryAccounts() {
                console.log("estoy en queryAccounts");
                this.$.queryAccounts.url = 'http://localhost:3000/api/1/clientes-productos/'+ this.storedUser.id_token;
                this.$.queryAccounts.generateRequest();
              }

              handleAccountResponse(event) {

                let status = event.detail.status;
                let response = JSON.parse(event.detail.response);
                console.log("estoy en handle");
                console.log(response[0].idCliente);
                if (typeof response !== 'undefined' && typeof response[0] !== 'undefined' && status == 200) {
                  let id = response[0].idCliente || 0;
                  if (id == this.storedUser.id_token) {
                    console.log("estoy dentro del if");
                    this.storedUser.access_cta = response[0].idCuenta;
                    console.log(this.storedUser.access_cta);
                    this.saveMovement();


                  }
                }else if(typeof response !== 'undefined' && status == 200){
                  this.error = 'El Usuario que intenta registrar ya existe, intentelo nuevamente.';
                  this.set('route.path', '/register-user');
                }else{
                  this.error  = "Datos incorrecetos!";
                }
              }

              handleSaveMovementResponse(event) {
                  this.error = '';
                  let status = event.detail.status;
                  let response = JSON.parse(event.detail.response);
                  if (typeof response !== 'undefined' && status == 200) {
                    this.success = "La alta de movimiento se registro correctamente!.";
                    setTimeout(() => {
                      this.success = '';
                    }, 5000);
                  }else{
                    this.error  = "No se realizo el registro de movimiento, intentelo más tarde!";
                  }

                  this.formData = {};
              }

              handleUserError(event) {
                if (typeof event !== 'undefined' && typeof event.detail !== 'undefined' && typeof event.detail.request !== 'undefined' && typeof event.detail.request.__data !== 'undefined') {
                  this.error = event.detail.request.xhr.response;
                  alert("Descripción Error: " + this.error);
                }
              }
          }

          window.customElements.define(AltaMovimiento.is, AltaMovimiento);
      </script>
    </dom-module>
