<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">


<dom-module id="register-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 15px;
        padding: 10px;
      }

      .alert-success {
        background: #618102;
        border: 1px solid #04662a;
        border-radius: 3px;
        color: rgb(255, 248, 248);
        font-size: 15px;
        padding: 10px;
      }

      input {
        position: relative;
        box-shadow: 2%;
        margin: 1;
        padding: 1;
        width: 90%;
        max-width: 90%;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: center;
        vertical-align: bottom;
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }

      a{
        text-decoration: none;
      }
    </style>

    <iron-ajax
          id="userAjax"
          content-type="application/json"
          handle-as="text"
          method="get"
          on-response="handleUserResponse"
          on-error="handleUserError">
        </iron-ajax>

        <iron-ajax
          id="registerUserAjax"
          content-type="application/json"
          handle-as="text"
          method="post"
          on-response="handleRegisterUserResponse"
          on-error="handleUserError">
        </iron-ajax>


        <iron-ajax
          id="accountAjax"
          content-type="application/json"
          handle-as="text"
          method="post"
          on-response="handleAccountResponse"
          on-error="handleUserError">
        </iron-ajax>

        <iron-ajax
          id="headMovAjax"
          content-type="application/json"
          handle-as="text"
          method="post"
          on-response="handleHeadMovResponse"
          on-error="handleUserError">
        </iron-ajax>




        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <app-location route="{{route}}"></app-location>

        <div class="cardregister">
          <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
            <h1><center>Registro de Cliente</h1></center>

            <h5><center><a href="[[rootPath]]register-login">Inicia Sesión</a> o Registrate para acceder a la aplicación!</h5></center>

            <template is="dom-if" if="[[error]]">
              <p class$="[[claseAlert]]"><strong>Error:</strong> [[error]]</p>
            </template>
            <template is="dom-if" if="[[success]]">
                <p class$="[[claseAlert]]"><strong>Info:</strong> [[success]]</p>
            </template>


            <paper-input-container-underline auto-validate>
                <label slot="input">Id Cliente: </label>
                <iron-input slot="input" bind-value="{{formData.idCliente}}">
                <input class="input-style" id="user" type="text" value="{{formData.idCliente}}" maxlength="10" minlength="1" required autofocus>
                </iron-input>
              </paper-input-container-underline>
              <p></p>

            <paper-input-container-underline>
              <label slot="input">Nombre: </label>
              <iron-input slot="input" bind-value="{{formData.nombre}}">
                <input class="input-style" id="name" type="text" value="{{formData.nombre}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Apellido Paterno: </label>
              <iron-input slot="input" bind-value="{{formData.apellido_paterno}}">
                <input class="input-style" id="surname" type="text" value="{{formData.apellido_paterno}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Apellido Materno: </label>
              <iron-input slot="input" bind-value="{{formData.apellido_materno}}">
                <input class="input-style" id="materno" type="text" value="{{formData.apellido_materno}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Calle: </label>
              <iron-input slot="input" bind-value="{{formData.calle}}">
                <input class="input-style" id="calle" type="text" value="{{formData.calle}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Num. Ext: </label>
              <iron-input slot="input" bind-value="{{formData.num_ext}}">
                <input class="input-style" id="num_ext" type="text" value="{{formData.num_ext}}" maxlength="7" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Num. Int: </label>
              <iron-input slot="input" bind-value="{{formData.num_int}}">
                <input class="input-style" id="num_int" type="text" value="{{formData.num_int}}" maxlength="7" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Colonia: </label>
              <iron-input slot="input" bind-value="{{formData.colonia}}">
                <input class="input-style" id="colonia" type="text" value="{{formData.colonia}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Pais: </label>
              <iron-input slot="input" bind-value="{{formData.pais}}">
                <input class="input-style" id="pais" type="text" value="{{formData.pais}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Estado: </label>
              <iron-input slot="input" bind-value="{{formData.estado}}">
                <input class="input-style" id="estado" type="text" value="{{formData.estado}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Alcaldia o Municipio: </label>
              <iron-input slot="input" bind-value="{{formData.alcaldia_municipio}}">
                <input class="input-style" id="alcaldia_municipio" type="text" value="{{formData.alcaldia_municipio}}" maxlength="30" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Código Postal: </label>
              <iron-input slot="input" bind-value="{{formData.cod_postal}}">
                <input class="input-style" id="cod_postal" type="text" value="{{formData.cod_postal}}" maxlength="5" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Fecha de Nacimiento: </label>
              <iron-input slot="input" bind-value="{{formData.fh_nacimiento}}">
                <input class="input-style" id="fh_nacimiento" type="date" value="{{formData.fh_nacimiento}}" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">RFC: </label>
              <iron-input slot="input" bind-value="{{formData.rfc}}">
                <input class="input-style" id="rfc" type="text" value="{{formData.rfc}}" maxlength="18" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Tel. Fijo: </label>
              <iron-input slot="input" bind-value="{{formData.telFijo}}">
                <input class="input-style" id="telFijo" type="text" value="{{formData.TelFijo}}" maxlength="10" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Tel. Móvil: </label>
              <iron-input slot="input" bind-value="{{formData.telMovil}}">
                <input class="input-style" id="telMovil" type="text" value="{{formData.telMovil}}" maxlength="10" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Correo: </label>
              <iron-input slot="input" bind-value="{{formData.email}}">
                <input class="input-style" id="email" type="text" value="{{formData.email}}">
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <paper-input-container-underline>
              <label slot="input">Password: </label>
              <iron-input slot="input" bind-value="{{formData.Password}}">
                <input id="password" type="password" value="{{formData.Password}}" maxlength="10" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <form action="/subscribe" method="post">

              <paper-input-container-underline>
                <label slot="input">Producto: </label>
                <iron-input slot="input" bind-value="{{formData.producto}}">
                  <input id="producto" type="text" value="{{formData.producto}}" maxlength="10" minlength="1" required>
                </iron-input>
              </paper-input-container-underline>
              <p></p>

            </form>

            <paper-input-container-underline>
              <label slot="input">Cuenta: </label>
              <iron-input slot="input" bind-value="{{formData.cuenta}}">
                <input id="cuentas" type=text value="{{formData.cuenta}}" maxlength="10" minlength="1" required>
              </iron-input>
            </paper-input-container-underline>
            <p></p>

            <div class="wrapper-btns"><center>
              <paper-button raised class="primary" on-tap="getUser">Registrarte</paper-button>
              <paper-button raised class="primary" on-tap="getClear">Borrar</paper-button>
            </div></center>



          </div>
          <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
            <h2>[[storedUser.name]]!</h2>
            <p>Actualmente estas logeado en el sistema.</p>
            <log-out stored-user="{{storedUser}}"></log-out>
          </div>
        </div>
      </template>

      <script>
          class RegisterUser extends Polymer.Element {
              static get is() { return 'register-user'; }
              static get properties() {
                  return {
                      formData: {
                          type: Object,
                          value: {}
                      },
                      accountData: {
                          type: Object,
                          value: {}
                      },

                      headMovData: {
                          type: Object,
                          value: {}
                      },

                      storedUser: Object,
                      error: String,
                      success: String,
                      claseAlert: {
                        type: String,
                        computed: '_retornaClaseAlert(error, success)'
                      }
                  }
              }

              _retornaClaseAlert(error, success){
                if(error){
                  return 'alert-error';
                }else if(success){
                  return 'alert-success';
                }
              }
              _setReqBodyUser() {
                  this.$.userAjax.body = this.formData;
              }
              _setReqBody() {
                  this.$.registerUserAjax.body = this.formData;
              }
              _setAccountBody() {
                  this.$.accountAjax.body = this.accountData;
              }

              _setHeadMovBody() {
                  this.$.headMovAjax.body = this.headMovData;
              }

              getClear(){
                this.formData = {};

              }

              getUser() {
                this.formData.idCliente = parseInt(this.formData.idCliente);
                var idCliente = this.formData.idCliente;
                if(!idCliente){
                  return this.error = "El Identificador de Cliente es Obligatorio";
                }

                this.formData.cuenta = parseInt(this.formData.cuenta);
                var cuenta = this.formData.cuenta;
                if(!cuenta){
                  return this.error = "El campo Cuenta es Obligatorio";
                }

                var Password = this.formData.Password;
                if(!Password){
                  return this.error = "El campo Password es Obligatorio";
                }



                this.$.userAjax.url = 'http://localhost:3000/api/1/usuarios/'+idCliente+'';
                this._setReqBodyUser();
                this.$.userAjax.generateRequest();
              }

              postRegister() {
                  this.$.registerUserAjax.url = 'http://localhost:3000/api/1/usuarios/';
                  this._setReqBody();
                  this.$.registerUserAjax.generateRequest();
              }

              postRegisterAccount(){
                this.$.accountAjax.url = 'http://localhost:3000/api/1/clientes-productos/';
                this._setAccountBody();
                this.$.accountAjax.generateRequest();
              }

              postRegisterHeadMov(){
                this.$.headMovAjax.url = 'http://localhost:3000/api/1/movimientos/';
                this._setHeadMovBody();
                this.$.headMovAjax.generateRequest();
              }


              handleUserResponse(event) {
                  let status = event.detail.status;
                  let response = JSON.parse(event.detail.response);
                  if (typeof response !== 'undefined' && typeof response[0] !== 'undefined') {
                    let id = response[0].idCliente || 0;
                    if (id == this.formData.idCliente) {
                        this.error = 'El Usuario que intenta registrar ya existe, intentelo nuevamente.';
                        this.set('route.path', '/register-user');
                    }
                  }else if(typeof response !== 'undefined' && status == 200){
                    this.postRegister();
                  }else{
                    this.error  = "Datos incorrectos!";
                  }
              }

              handleRegisterUserResponse(event) {
                  this.error = '';
                  console.log(this.formData.cuenta);
                  this.formData.cuenta = parseInt(this.formData.cuenta);
                  let status = event.detail.status;
                  let response = JSON.parse(event.detail.response);
                  var count = 0;
                  console.log(response.idCliente);

                  if (typeof response !== 'undefined' && typeof response.idCliente !== 'undefined') {
                    this.accountData.idCliente = this.formData.idCliente;
                    this.accountData.idCuenta  = this.formData.cuenta;
                    this.accountData.descProducto = this.formData.producto;
                    console.log("voy a registrar en cuentas");
                    this.postRegisterAccount();
                  }else{
                    this.error  = "No se realizo el registro, intentelo más tarde!";
                  }
              }
    //typeof response !== 'undefined' &&
              handleAccountResponse(event){

                  this.error = '';
                  let status = event.detail.status;
                  let response = JSON.parse(event.detail.response);
                  console.log("antes de entrar al if");
                  console.log(response);
                  console.log(response.idCliente);
                  console.log(this.formData.idCliente);
                  if (typeof response.idCliente !== 'undefined') {
                    this.headMovData.idCliente = this.formData.idCliente;
                    this.headMovData.idCuenta  = this.formData.cuenta;
                    this.headMovData.descProducto = this.formData.producto;
                    this.headMovData.movimientos = [];
                    console.log(this.headMovData.idCliente);
                    console.log("antes de insertar mov");
                    this.postRegisterHeadMov();
                  }else

                  {
                    this.error  = "No se realizo el registro, intentelo más tarde!";
                  }

              }


              handleHeadMovResponse(event) {
                this.error = '';
                let status = event.detail.status;
                let response = JSON.parse(event.detail.response);
                if (typeof response !== 'undefined' && typeof response.idCliente !== 'undefined') {
                  this.success = "Te has registrado correctamente, se redireccionará al login.";
                  setTimeout(() => {
                    this.set('route.path', '/register-login');
                    this.success = '';
                    this.formData = {};
                    this.accountData = {};
                    this.headMovData = {};
                  }, 5000);
                }
              }

              handleUserError(event) {
                if (typeof event !== 'undefined' && typeof event.detail !== 'undefined' && typeof event.detail.request !== 'undefined' && typeof event.detail.request.__data !== 'undefined') {
                  this.error = event.detail.request.xhr.response;
                  alert("Descripción Error: " + this.error);
                }
              }
          }

          window.customElements.define(RegisterUser.is, RegisterUser);
      </script>
    </dom-module>
