<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      input {
        position: relative;
        box-shadow: 2%;
        margin: 1;
        padding: 1;
        width: 90%;
        max-width: 90%;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: center;
        vertical-align: bottom;
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }


      a{
        text-decoration: none;
      }
    </style>
    <iron-ajax
      id="registerLoginAjax"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="cardlogin">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1><center>Inicio de Sesión</h1></center>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container-underline><center>
          <label slot="input">Cliente: </label>
          <iron-input slot="input" bind-value="{{formData.username}}">
            <input class="input-style" id="username" type="text" value="{{formData.username}}" maxlength="10" minlength="1" required autofocus>
          </iron-input>
        </paper-input-container-underline></center>
        <p></p>

        <paper-input-container-underline><center>
          <label slot="input">Password: </label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" maxlength="10" minlength="1" required>
          </iron-input>
        </paper-input-container-underline></center>
        <p></p>

        <h5><center>¿Aún no eres usuario?. Registrate para accesar a la aplicación.</h5></center>

        <div class="wrapper-btns"><center>
          <paper-button raised class="primary" on-tap="getLogin">Iniciar</paper-button>
          <paper-button class="link">
              <a href="[[rootPath]]register-user">Registrarte</a>
          </paper-button></center>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!.</h2>
        <p>Actualmente estás Logeado en el sistema!.</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class RegisterLogin extends Polymer.Element {
          static get is() { return 'register-login'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
          }

          getLogin() {
              let idCliente = this.formData.username;
              let password = this.formData.password;
              this.$.registerLoginAjax.set('method','get');
              this.$.registerLoginAjax.url = 'http://localhost:3000/api/1/usuarios/'+idCliente+'&'+password+'';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          postRegister() {
              this.$.registerLoginAjax.url = 'http://localhost:3000/api/1/usuarios';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              if (typeof response !== 'undefined' && typeof response[0] !== 'undefined') {
                var id = response[0].idCliente || '';
                var pass = response[0].Password || '';
                var nombre = response[0].nombre || '';
                var apellido = response[0].apellido_paterno || '';

                console.log(id,pass,nombre,apellido);
                if (id == this.formData.username && pass == this.formData.password) {
                    this.error = '';
                    this.storedUser = {
                        name: `${nombre} ${apellido}`,
                        id_token: id,
                        access_token: response.access_token,
                        loggedin: true
                    };
                    this.set('route.path', '/panel-bienvenida');
                }
              }else{
                this.error  = "Datos incorrectos!";
              }
              this.formData = {};
          }

          handleUserError(event) {
            if (typeof event !== 'undefined' && typeof event.detail !== 'undefined' && typeof event.detail.request !== 'undefined' && typeof event.detail.request.__data !== 'undefined') {
              this.error = event.detail.request.xhr.response;
              alert("Descripción Error: " + this.error);
            }
          }
      }

      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
