<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shared-styles">
  <template>
    <style>
      .cardlogin {
        margin: 100px;
        padding: 20px;
        color: #000;
        border-radius: 5px;
        background-color: #EBF5FB;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .cardregister {
        margin: 100px;
        padding: 20px;
        color: #000;
        border-radius: 5px;
        background-color: #EBF5FB;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .cardmovs {
        margin: 100px;
        padding: 20px;
        color: #000;
        border-radius: 5px;
        background-color: #EBF5FB;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #EBF5FB;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }


      h1 {
        margin: 16px 0;
        color: #000000;
        font-size: 30px;
      }

      h5 {

        color: #000000;
      }

      :root {
        --primary-color: #4285f4;
      }
      a,
      paper-button {
        font-weight: bold;
      }
      a {
        color: var(--primary-color);
      }
      paper-button {
        color: #fff;
      }
      paper-button.primary {
        background: var(--primary-color);
      }
      blockquote {
        border-left: 4px solid #eee;
        margin-left: 4px;
        padding-left: 20px;
      }

      paper-input-container-underline: {
        display: none;
      }

      .imagen: {
        align: center;
      }


    </style>
  </template>
</dom-module>
